---
layout: comunidad_layout
title: Comunidad
permalink: /comunidad/
---

<div class="embajadores" id="embajadores">

	<h1> Embajadores </h1>

	<p> El desarrollo de los proyectos puede requerir de una mentoría o de un asesoramiento en un momento puntual. Los equipos pueden acudir a los embajadores para resolver estos problemas y recibir asesoría sobre cómo inscribirse en la competición.</p>

	<p> Los embajadores son comunidades y profesores de referencia en alguna de las dimensiones que la competición Impaciencia plantea. No dudes en pedirles ayuda para lo que haga falta.</p> </br>

{% for embajador in site.data.embajadores %}

	<div class="cajaembajador">

	  <div class="thumbnailembajador">
	  <img src="{{ site.baseurl }}/{{ embajador.image }}">
	  </div>

	  <h4> {{ embajador.name }} </h4>

	  <div class="categoria"> <p> {{ embajador.short-bio }} </p> </br> Info de contacto:

	  {% for contact in embajador.contacts %}

	  <a href="{{ contact.link }}"> {{ contact.name }} </a> /

	  {% endfor %}

   	  </div>

	</div>

{% endfor %}

</div>

<div class="equipos" id="equipos">

	<h1> Equipos </h1>

	<p> Los equipazos de valientes que están inscritos en el concurso. Recuerda, tu equipo puede estar aquí </p>

	{% for equipo in site.data.equipos %}
	<div class="cajaequipo">

	<h4> {{ equipo.name }} </h4>

	<div class="thumbnailequipo">
		<img src="{{ site.baseurl }}/{{ equipo.image }}">
	</div>

	<p> {{ equipo.estudios }} </p>
	<p> {{ equipo.short-bio }} </p>
	<div class="categoria">
	</br> Info de contacto:

	{% for contact in equipo.contacts %}

	<a href="{{ contact.link }}"> {{ contact.name }} </a> /

	{% endfor %}

    </div>

	</div>
	{% endfor %}

</div>

<div class="creditos" id="organizacion">
	<h1> Organización </h1>

	<p> Los soñadores detrás de este proyecto: </p>

	<div class="cargos">
		Carlos Vivar Ríos (Kato) //// Idea original y Coordinación </br>
		Jenniffer Seguel Berrios //// Coordinación </br>
		Curro Romero //// Community management </br>
		Luigi (Nohappyendings Films) //// Realización audiovisual </br>
		Benito Sánchez //// Apoyo Community management
	</div>

	<div class="cargos2">
		Marina Guadix //// Diseño gráfico </br>
		Daniel Casares //// Curso Open Hardware </br>
		José Serrano //// Curso Diseños Experimentales </br>
		Vicerrectorado de Cultura y Deportes UMA //// Entidad promotora </br>
		La Internet //// Red superchula, fuente de inspiración.
	</div>

	<div class="thumbnailcreditos">
	<img src="img/comunidad1.jpg">
	<img src="img/comunidad2.jpg">
	<img src="img/comunidad3.jpg">
	<img src="img/comunidad1.jpg">
	<img src="img/comunidad1.jpg">
	<img src="img/comunidad1.jpg">
	<img src="img/comunidad1.jpg">
	<img src="img/Fotocarnet_byn.jpg">
	<img src="img/Fotocarnet_byn.jpg">
	<img src="img/Fotocarnet_byn.jpg">
	</div>

</div>
