<!-- footer Start -->
<footer>

		<footer>
	   	<div class="footer">
			<div class="texto">
			   <p> <span class="cc">c</span> Impaciencia </p>

			   Es un proyecto Atalaya financiado por la Junta de Andalucía, coordinado por la Universidad de Málaga y que cuenta con la participación de la Universidad de Granada, la Universidad de Sevilla, la Universidad de Córdoba, la Universidad de Cádiz y la Universidad de Huelva.

			   <p><a class="" href="http://www.proyectoicarus.com/"> ¡Ah! y no, esto no es la universidad del mañana </a></p>


			</div>

			<ul class="rrss">
				<p> Legal </p>
			<li> <a class="" href="{{site.baseurl}}/pdf/bases.pdf"> Bases </a></li>
			<!-- <li> <a class="" href=""> Términos </a></li>
			<li> <a class="" href=""> Cookies </a></li>
			<li> <a class="" href=""> Organización </a></li> -->
			</ul>

			<ul class="rrss">
				<p> Social </p>
			<li> <a class="" href="https://twitter.com/_Impaciencia_"> Twitter </a></li>
			<li> <a class="" href="https://www.facebook.com/ProyectoImpaciencia/"> Facebook </a></li>
			<li> <a class="" href="https://www.instagram.com/proyecto_impaciencia/"> Instagram </a></li>
			<li> <a class="" href="https://github.com/Impaciencia"> Github</a></li>
			<li> <a class="" href="mailto:info@impaciencia.org"> info@impaciencia.org </a></li>
		<!--	<li> <a class="" href=""> Newsletter </a></li> -->
			</ul>

			<div class="logos" style="text-align: center;"> <p> Instituciones participantes: </p>
			<img height="100px"src="{{ site.baseurl}}/img/logo/andalucia.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/atalaya.jpeg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/malagauma.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/granadaUGR.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/sevillaUS.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/huelvaUHU.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/LogoUCO.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/cadizUCA.png"></div>
			</div>
		</div>
</footer>
