<!-- footer Start -->
<footer>

		<footer>
	   	<div class="footer">
			<div class="texto">
			   <p> <span class="cc">c</span> Impaciencia </p>

			   Es un proyecto Atalaya financiado por la Junta de Andalucía, coordinado por la Universidad de Málaga y que cuenta con la participación de la Universidad de Granada, la Universidad de Sevilla, la Universidad de Córdoba, la Universidad de Cádiz y la Universidad de Huelva.

			   <p><a class="" href="http://www.proyectoicarus.com/"> ¡Ah! y no, esto no es la universidad del mañana </a></p>

			   <!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{clear:left; color:white; width:100%;}
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
				<form action="https://impaciencia.us17.list-manage.com/subscribe/post?u=5cf13299fad963ba4c56d69f9&amp;id=fb19b9448c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Suscríbete a nuestra lista de correo :)</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5cf13299fad963ba4c56d69f9_fb19b9448c" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>

				<!--End mc_embed_signup-->


			</div>

			<ul class="rrss">
				<p> Legal </p>
			<li> <a class="" href="{{site.baseurl}}/pdf/bases.pdf"> Bases </a></li>
			<li> <a class="https://goo.gl/forms/HEFHVHw6yKGNmh5E3" href=""> Inscripción </a></li>
			<!-- <li> <a class="" href=""> Cookies </a></li>
			<li> <a class="" href=""> Organización </a></li> -->
			</ul>

			<ul class="rrss">
				<p> Social </p>
			<li> <a class="" href="https://twitter.com/_Impaciencia_"> Twitter </a></li>
			<li> <a class="" href="https://www.facebook.com/ProyectoImpaciencia/"> Facebook </a></li>
			<li> <a class="" href="https://www.instagram.com/proyecto_impaciencia/"> Instagram </a></li>
			<li> <a class="" href="https://github.com/Impaciencia"> Github</a></li>
			<li> <a class="" href="mailto:info@impaciencia.org"> info@impaciencia.org </a></li>
		<!--	<li> <a class="" href=""> Newsletter </a></li> -->
			</ul>

			<div class="logos" style="text-align: center;"> <p> Instituciones participantes: </p>
			<img height="100px"src="{{ site.baseurl}}/img/logo/andalucia.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/atalaya.jpeg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/malagauma.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/granadaUGR.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/sevillaUS.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/huelvaUHU.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/LogoUCO.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/cadizUCA.png"></div>
			</div>
		</div>
</footer>
