<!-- footer Start -->
<footer>

		<footer>
	   	<div class="footer">
			<div class="texto">
			   <p> <span class="cc">c</span> Impaciencia </p>

			   <p>Es un proyecto Atalaya financiado por la Junta de Andalucía, coordinador por la Universidad de Málaga y que cuenta con la participación de la Universidad de Granada, la Universidad de Sevilla, la Universidad de Córdoba, la Universidad de Cádiz y la Universidad de Huelva.</p>

			   <p><a class="" href="http://www.proyectoicarus.com/"> Esto no es la universidad del mañana </a></p>


			</div>

			<ul class="rrss">
				<p> Legal </p>
			<li> <a class="" href=""> Bases </a></li>
			<li> <a class="" href=""> Términos </a></li>
			<li> <a class="" href=""> Cookies </a></li>
			<li> <a class="" href=""> Organización </a></li>
			</ul>

			<ul class="rrss">
				<p> Social </p>
			<li> <a class="" href=""> Twitter </a></li>
			<li> <a class="" href=""> Facebook </a></li>
			<li> <a class="" href=""> Github</a></li>
			<li> <a class="" href=""> Newsletter </a></li>
			</ul>

			<div class="logos" style="text-align: center;"> <p> Instituciones participantes: </p>
			<img height="100px"src="{{ site.baseurl}}/img/logo/andalucia.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/atalaya.jpeg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/malagauma.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/granadaUGR.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/sevillaUS.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/huelvaUHU.jpg">
			<img height="100px" src="{{ site.baseurl}}/img/logo/LogoUCO.png">
			<img height="100px" src="{{ site.baseurl}}/img/logo/cadizUCA.png"></div>
			</div>
		</div>
</footer>
