<!-- Header Start -->
<header>
<div id="header">
	{% if page.url ==  site.url  %}
		<a class="logo" href="{{ site.url }}"> <img src="{{ site.url }}/img/IMPACIENCIA_logo.svg">
		<script>
		$(window).scroll(function () {

		  if( $(window).scrollTop()>10)
		 $("#header").addClass("scrolled")
		  if( $(window).scrollTop()<10)
		 $("#header").removeClass('scrolled')

		})
		</script>

	{% elseif page.url == "https://impaciencia.github.io/contacto/" %}
	 	<a class="logobasic" href="{{ site.url }}"> <img src="img/IMPACIENCIA_logoblanco.svg"> </a>

	{% else %}
		<a class="logobasic" href="{{ site.url }}"> <img src="{{ site.baseurl }}/img/IMPACIENCIA_logo.svg"> </a>
	{% endif %}
 </a>
<ul class="navbar">
	  <li class="menuparticipa"> <a href="{{ site.baseurl }}/participa"> Participa </a></li>
	  <li class="menuaprende"> <a href="{{ site.baseurl }}/aprende"> Aprende </a></li>
	  <li> <a href="{{ site.baseurl }}/comunidad"> Comunidad </a></li>
	  <li> <a href="{{ site.baseurl }}/proyectos"> Proyectos </a></li>
	  <li> <a href="{{ site.baseurl }}/blog"> Blog </a></li>
	  <li class="menucontacto"> <a href="{{ site.baseurl }}/contacto"> ¿Dudas? </a></li>
	  <li class="calendario"> <a href=""> <img src="{{ site.baseurl }}/img/calendario.png"> </a></li>
</ul>
</div>


</header>
<!-- Header Ends -->
