<!-- Header Start -->
<header>
<div id="header">
	{% if page.id ==  "home"  %}
		<a class="logo" href="{{ site.url }}"> <img src="{{ site.url }}/img/IMPACIENCIA_logo.svg"></a>
		<script>
		$(window).scroll(function () {

		  if( $(window).scrollTop()>10)
		 $("#header").addClass("scrolled")
		  if( $(window).scrollTop()<10)
		 $("#header").removeClass('scrolled')

		})
		</script>

	{% elsif page.id == "contacto" %}
		 	<a class="logobasic" href="{{ site.url }}"> <img src="{{ site.baseurl }}/img/IMPACIENCIA_logoblanco.svg"> </a>

	{% else %}
		<a class="logobasic" href="{{ site.url }}"> <img src="{{ site.baseurl }}/img/IMPACIENCIA_logo.svg"> </a>
	{% endif %}


	 {% if page.id ==  "contacto"  %}
	<ul class="navbarblanco">
	 {% else %}
	<ul class="navbar">
	{% endif %}

	  <li class="menucontacto"> <a href="http://www.festival.impaciencia.org"> Festival </a></li>
	  <li class="menuparticipa"> <a href="{{ site.baseurl }}/participa"> Participa </a></li>
	  <li class="menuaprende"> <a href="{{ site.baseurl }}/aprende"> Aprende </a></li>
	  <li> <a href="{{ site.baseurl }}/comunidad"> Comunidad </a></li>
<!--  <li> <a href="{{ site.baseurl }}/proyectos"> Proyectos </a></li> -->
	  <li> <a href="{{ site.baseurl }}/blog"> Blog </a></li>
	  <li> <a href="http://foro.impaciencia.org"> Foro </a></li>
	  <li class="menucontacto"> <a href="{{ site.baseurl }}/contacto"> ¿Dudas? </a></li>
	  <li class="calendario"> <a href="{{ site.baseurl }}/calendario"> <img src="{{ site.baseurl }}/img/calendario.png"> </a></li>
	</ul>


	  <div class="menu"> Menu </div>

		<div class="menuresponsive">
		<ul class="navbaresponsive">
			<li> <a href="{{ site.url }}"> Home </a></li>
			
			<li class="menucontacto"> <a href="http://www.festival.impaciencia.org"> Festival </a></li>
			<li class="menuparticipa"> <a href="{{ site.baseurl }}/participa"> Participa </a></li>
			<li class="menuaprende"> <a href="{{ site.baseurl }}/aprende"> Aprende </a></li>
			<li> <a href="{{ site.baseurl }}/comunidad"> Comunidad </a></li>
			<!-- <li> <a href="{{ site.baseurl }}/proyectos"> Proyectos </a></li> -->
			<li> <a href="{{ site.baseurl }}/blog"> Blog </a></li>
			<li> <a href="http://foro.impaciencia.org"> Foro </a></li>
			<li class="menucontacto"> <a href="{{ site.baseurl }}/contacto"> Contacto </a></li>
			<li class="calendario"> <a href="{{ site.baseurl }}/calendario"> <img src="{{ site.baseurl }}/img/calendario.png"> </a></li>
		</ul>
		<div class="cerrarmenu"> Cerrar </div>
		</div>

		<script type="text/javascript">
		$('.menu').click(function(evento) {
		$('.menuresponsive').fadeIn(500)
		})
		</script>

		<script type="text/javascript">
		$('.cerrarmenu').click(function(evento) {
		$('.menuresponsive').fadeOut(500)
		})
		</script>
</div>


</header>
<!-- Header Ends -->
