<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Que es esto -->


<script src="{{ site.baseurl }}/js/jquery-2.1.3.min.js"></script>
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli:300,600" rel="stylesheet">
<link src="{{ site.baseurl }}/fonts/CallingCodeBold.otf" rel='stylesheet' type='text/css'>
<link src="{{ site.baseurl }}/fonts/CallingCodeBoldItalic.otf" rel='stylesheet' type='text/css'>
<link src="{{ site.baseurl }}/fonts/CallingCodeItalic.otf" rel='stylesheet' type='text/css'>
<link src="{{ site.baseurl }}/fonts/CallingCodeRegular.otf" rel='stylesheet' type='text/css'>

<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/IMPACIENCIA_favicon.png">

<style type="text/css">
            @media screen {
            @font-face {
            font-family: 'CC-ICONS';
            font-style: normal;
            font-weight: normal;
            src: url('{{ site.baseurl }}/css/fonts/cc-icons.ttf') format('truetype');
            }

            span.cc {
            font-family: 'CC-ICONS';
            color: white;
            }
            }
        </style>
