---
layout: page
---

<div class="paginaaprende">

	<div class="contenidoaprende">

	<h1> Aprende </h1>

	<p> Mientras que la participación en la competición es el objetivo principal de Impaciencia se han diseñado actividades que faciliten el desarrollo de los proyectos por parte de los equipos. Eso sí, la participación en estás actividades no es obligatoria de cara a obtener el certificado de participación.</p>

	<p>No hay excusa para no aprender ,)</br> </p>

	<div class="boton"> <a href="" target="_blank"> Tutoriales </a> </div>
	<div class="boton"> <a href=".cursos" class="smoothScroll"> Cursos </a> </div>
	<div class="boton"> <a href=".cursos" class="smoothScroll"> Conferencias </a> </div>

	</div>

</div>

{{ content }}
