---
layout: page
---

<div class="paginaaprende">

	<div class="contenidoaprende">

	<h1> Aprende </h1>

	<p> Aunque el concurso es el objetivo principal de Impaciencia, también ofrecemos diferentes actividades para facilitar el desarrollo de vuestros proyectos. Eso sí, la participación en estas actividades no es obligatoria de cara a obtener el certificado de participación.</p>

	<p>No hay excusa para no aprender ;)</br> </p>

	<!-- <div class="boton"> <a href="" target="_blank"> Tutoriales </a> </div> -->
	<div class="boton"> <a href="{{ site.baseulr }}/aprende#cursos" class="smoothScroll"> Cursos </a> </div>
	<div class="boton"> <a href="{{ site.baseulr }}/aprende#conferencias" class="smoothScroll"> Conferencias </a> </div>

	</div>

</div>

{{ content }}
