---
layout: page
---

<div class="paginacomunidad">

	<div class="contenidocomunidad">

	<h1> Comunidad </h1>

	<p> En Impaciencia no estáis solos. Tenéis a vuestra disposición toda una comunidad de expertos que están dispuestos a echáros un cable para que desarrolláis el mejor proyecto. </br> Además aquí podréis encontrar una lista con los equipos que están actualmente inscritos en el concurso. </p>

	<div class="boton"> <a href="{{ site.baseulr }}/comunidad#embajadores" class="smoothScroll"> Embajadores </a> </div>
	<div class="boton"> <a href="{{ site.baseulr }}/comunidad#equipos" class="smoothScroll"> Equipos </a> </div>
	<div class="boton"> <a href="{{ site.baseulr }}/comunidad#organizacion" class="smoothScroll"> Organización </a> </div>

	</div>

</div>

{{ content }}
