---
layout: page
---

<div class="paginaparticipa">

	<div class="contenidoparticipa">

	<h1> Participa </h1>

	<p> Participar en Impaciencia es fácil: busca a otras personas con una mente tan inquieta como la tuya y pensad en un tema sobre el que investigar, un nombre molón e inscribiros en el este formulario.</br></br>

	Los proyectos presentados deberán estar documentados en repositorios de github (no te preocupes si no sabes lo que es esto, te lo enseñamos aquí) bajo una licencia de CC BY. De esta forma vosotros seréis reconocidos siempre como los autores y además otras personas en cualquier lugar del mundo podrán utilizarlos en sus propias investigaciones, clases, exposiciones o como punto de partida para futuros proyectos. Así nos aseguramos de que todo el esfuerzo que habéis realizado no se pudra en un cajón y que pueda servir para mejorar la educación.</br></br>

	Los proyectos podrán ser desarrollados desde vuestra inscripción hasta el 15 de febrero de 2018. ¿A qué estáis esperando impacientes?
</br> </p>

	<div class="boton"> <a href="" target="_blank"> Requisitos </a> </div>
	<div class="boton"> <a href="" target="_blank"> ¿Por qué participar? </a> </div>
	<div class="boton"> <a href="" target="_blank"> ¿Cómo participar? </a></div>
	<div class="boton"> <a href="" target="_blank"> Fases y fechas </a> </div>
	<div class="boton"> <a href="" target="_blank"> Evaluación </a> </div>
	<div class="boton"> <a href="" target="_blank"> Premios </a></div>
	<div class="boton"> <a href="" target="_blank"> Recomendaciones </a></div>
	<div class="boton"> <a href="" target="_blank"> Bases </a> </div>

	</div>

</div>

{{ content }}
