---
layout: page
---

<div class="paginaparticipa">

	<div class="contenidoparticipa">

	<h1> Participa </h1>

	<p> Participar en Impaciencia es fácil: busca a otras personas con una mente tan inquieta como la tuya y pensad en un tema sobre el que investigar, un nombre molón e inscribiros en este <a href="https://goo.gl/forms/HEFHVHw6yKGNmh5E3">formulario</a>.</br></br>

	Los proyectos podrán ser desarrollados desde vuestra inscripción hasta el 15 de febrero de 2018. ¿A qué estáis esperando impacientes?
</br> </p>


	<div class="boton"> <a href="https://goo.gl/forms/HEFHVHw6yKGNmh5E3"> Formulario de inscripción </a></div>
	<div class="boton"> <a href="{{ site.baseulr }}/participa#como" class="smoothScroll"> ¿Cómo participar? </a></div>
	<div class="boton"> <a href="{{ site.baseulr }}/participa#evaluacion" class="smoothScroll"> Temática </a> </div>
	<div class="boton"> <a href="{{ site.baseulr }}/participa#recomendaciones" class="smoothScroll"> Recomendaciones </a></div>
	<div class="boton"> <a href="{{ site.baseulr }}/participa#requisitos" class="smoothScroll"> Requisitos </a> </div>
	<div class="boton"> <a href="{{site.baseurl}}/pdf/bases.pdf" target="_new"> Bases (pdf en plan serio) </a> </div>

	</div>

</div>

{{ content }}
