---
layout: page
---

<div id="post">

	<div class="datapost"> {{ page.date | date: "%d.%m.%Y" }} </div>

	<h1>{{ page.title }}</h1>

	<p>{{ content }}</p>

	<div class="categoria"> Publicado por: <a href=""> {{ page.author }} </a> </div>

	<div class="categoria"> Archivado en:
		{% for category in post.categories %}
		<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
		{% unless forloop.last %}&nbsp;{% endunless %}
		{% endfor %} </a>
	</div>

	<div class="navpost"> <a class="anterior" href=""> ← Anterior </a> <a style="text-align: center; "href="{{ site.baseurl }}/blog"> Back to blog </a> <a class="siguiente" href=""> Siguiente → </a> </div>

</div>
